<h1 id="heading">Geo-Calculator</h1>

<main id="main-section">

  <%= form_with url: geocalculate_path, class: "form-group" do |form| %>
    <div id="inputs">
      <div class="form-element">
        <%= form.label :origin, "Origin:" %>
        <%= form.text_field :origin, id: "origin-text", required: true %>
      </div>
      <div class="form-element">
        <%= form.label :destination, "Destination:" %>
        <%= form.text_field :destination, id: "destination-text", required: true %>
      </div>
    </div>

    <%= form.submit :Calculate, id: "calculate-button" %>
  <% end %>
</main>

<% if @distance %>
  <section id="result">
    Distance: <%= number_with_precision(@distance, precision: 1) %> miles.
  </section>
<% end %>
